   /** comentario css **/
        html{
            box-sizing: border-box;
            font-size: 62.5%;}
        *, *:before, *::after {
            box-sizing:inherit;
        }

        h1 {color: blue;
            font-size: 50px;
            font-family: fantasy;
            margin: 20px;
            }
            
            
            
        h2 {color: brown;
            text-decoration: underline;}

        body{background-color: beige;}

        .list-item{color: blueviolet;}
        .nav-items{display: flex;}
        .nav-items li{ margin: 1rem;
        list-style: none;
        font-family: cursive;}
        
        .nav-items li a {text-decoration: none;}

        a {background-color:burlywood;}